<input type="text" value="{{this.first_name}}" placeholder="First Name" name="first_name" />
<input type="text" value="{{this.last_name}}" placeholder="Last Name" name="last_name" />
<input type="email" value="{{this.email}}" placeholder="Email" name="email" />
<input type="text" value="{{this.phone}}" placeholder="Phone" name="phone" />
<textarea name="comments" id="comments" placeholder="Leave a comment here">{{this.comments}}</textarea>

<button type=" submit">Submit</button>